/* Modales */

.modal .modal-content h3{

    margin: 20px 0px 50px 0px;
}

.modal .modal-content button{

    margin-top: 25px;
}

.modal .modal-header button{

    color: #1E88E5;
    font-size: 24pt;
    opacity: 1;
}

/* Listado de Entidades */

.table button{

    background: #1E88E5 !important;
    color: #FFFFFF !important;
    cursor: pointer;
    margin-bottom: 10px;
}

.addIcon i{

    font-size: 30pt;
}

p#bienvenida{

    font-size: 15pt;
    margin-bottom: 0 auto;
    text-align: center;    
}

img#config{
    
    height: 150px;
}